	<!-- <div class="lifetimerankings">
		<div class="centered" style="font-size: 18px; color: darkgreen; margin-bottom: 4px;">Your Combined average: <%= @combinedavgweek %></div>
		<div class="centered">Your Giver average: <%= @giveravgweek %></div>
		<div class="centered">Your Guesser average: <%= @guesseravgweek %></div>
		
	</div> -->

	<div class="lifetimerankings vert70 weeklystats">
		<div class="button rankingnav prev">
			<img src="/assets/Left-01-48.png">
		</div>
		<div class="button rankingnav next">
			<img src="/assets/Right-01-48.png">
		</div>

		<div class="rankingstabletitle">Weekly Top 15</div>
			
			<div class="statcontainer wkcombined showstat">
				<span class="statcat"><u>Combined Avg Score - min 5 games</u></span>
				<ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
	  	</div>

	  	<div class="statcontainer wkhearts">
				<span class="statcat"><u>Avg <img class="newsheart" src="/assets/Heart-48.png"> per game - min 5 games</u></span>
				<ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
	  	</div>

	  	<div class="statcontainer wknonspoiler">
			  <span class="statcat"><u>Current Giver Non-Spoiler Streak</u></span>
				<ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
		  </div>

	  	<div class="statcontainer wkgiver">
			  <span class="statcat"><u>Giver Avg Score - min 5 games</u></span>
			  <ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
			</div>

			<div class="statcontainer wkguesser">
			  <span class="statcat"><u>Guesser Avg Score - min 5 games</u></span>
			  <ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
			</div>

			<div class="statcontainer wktopgivers">
				<span class="statcat"><u>Your Top Hint Givers - min 5 games</u></span>
			  <ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
			</div>

			<div class="statcontainer wktopguessers">
				<span class="statcat"><u>Your Top Guessers - min 5 games</u></span>
			  <ul class="spinloading">
				  <img class="spinning" src="/assets/spinner.gif">
				</ul>
			</div>

			<style>
			.temphidden {
				display: none;
			}
			</style>

	</div>