<div class="gametop">Word Stretch Beta Updates</div>

<div class="lifetimerankings howtoplay">
  August 25, 2017: Apologies for resetting the game list! But today's change is a big one, and we're excited about it! You now will be giving or receiving three hints instead of two, and the scoring has been changed so that consecutive correct guesses will get more and more valuable, resulting in a new maximum of 200 points (if you get all 6 words using a single clue - super rare!). You will also now have the ability to guess up to two bonus words, once after successfully guessing all of the second hint's words, and once after successfully guessing all the third hint's words. With three hints, we feel it will be more satisfying to play as the possibility of guessing all 6 target words increases. Have fun, and as always, NO SPOILERS! :P
</div>

 