<div class="gametop">Word Stretch Beta Updates</div>

<div class="lifetimerankings howtoplay">
  Oct 7, 2017: Lots of updates are going to be rolling outbefore releasing the Word Stretch Android app! First - a big one - there's now a 25 point bonus if you guess all 6 words in a game. Also various UI improvements today.
</div>

<div class="lifetimerankings howtoplay">
  Sep 15, 2017: Keeping a new stat with associated Feats: Perfect games! Those are games where the guesser picks all six target words without any misses.
</div>

<div class="lifetimerankings howtoplay">
  Sep 14, 2017: A new layout for the main screen. 
</div>

<div class="lifetimerankings howtoplay">
  Sep 11, 2017: Play as a guest now - no need to sign up or sign in! It's not the full experience, of course - no stats or ability to create a game -, but you can play random completed games to try the game out!
</div>

<div class="lifetimerankings howtoplay">
  Sep 11, 2017: "Feats of Stretch" fully implemented! Now players have a "Feat Score" which tracks what you have accomplished in the game. The game now tracks lots more stats, including givers' non-spoiler streaks. Current users, you will see your Feat Score start to increase after playing or creating your first game. After 10 games or so, you will see all of your feats listed in your feat page.
</div>

<div class="lifetimerankings howtoplay">
  Sep 8, 2017: The rankings page now shows rankings for only games created within the last week. Track and compare your play based on only recent games! The weekly rankings are the new default view for the rankings page. You can also still see all-time rankings.
</div>

<div class="lifetimerankings howtoplay">
  Sep 5, 2017: Added average # of hearts per game to the rankings page and also sped up that page's loading a little bit. Still some work to do there.
</div>

<div class="lifetimerankings howtoplay">
  Sep 1, 2017: News feed has been added! The little newspaper button on the main page will now take you to your "Stretch Feed" where you can see items of interest. Right now, it will show you whenever someone finishes playing one of your games, whenever a game ends having had 6 players, and whenever someone gives you a heart.
</div>

<div class="lifetimerankings howtoplay">
  August 29, 2017: Game "cheat" reporting system has been added! If you're guessing in a game and you feel the hints are cheating (two or more words combined, parts of target words used, etc) or if the hints are offensive or maybe just really terrible (someone trolling?), you can now report the game using the little thumbs-down button in the lower right corner of the game screen. If two other players agree with you, then the game will be deleted and the game's creator will receive +1 on their cheat score (you can see your cheat score on the bottom of the rankings page). If something in a game is truly awful, you can also report it to me by emailing matt@wordstretch.com. Self policing FTW!
  <br><br>Also, the time between being able to delete unfinished created games has been reduced from 6 games to 3, due to popular demand!
</div>

<div class="lifetimerankings howtoplay">
  August 28, 2017: Delete a game if you're stuck while creating it! Now, when giving hints you will (sometimes) have the ability to delete the game before submitting it to the other players. If you just can't come up with hints, delete the game and never worry about it again. However, we don't want this to be used too much - so much of the fun of this game is coming up with different ways to find connections between words - so you will only be able to do this at most every one out of 7 games. So if you do delete a game during its creation, you'll have to fully create and submit 6 more games before being able to delete another game. Tip: Hints targetted to only one word is ok sometimes!
</div>

<div class="lifetimerankings howtoplay">
  August 27, 2017: Hearts and Feats of Stretch! You will now have the ability to give a "heart" to the hint giver if you feel they provided one or more excellent hints. We wanted to make a quick and easy way of rewarding a hint giver who made one or more truly excellent hints for a particular game. Feel free to also say how good you thought the hint was in chat! And the new "Feats of Stretch" will be Word Stretch's version of "achievements". Right now, you can track your hearts there, but coming soon there will be a slew of awards you can gain while playing the game, received for things like creating your 50th game or guessing your 10th perfect game. 
</div>

<div class="lifetimerankings howtoplay">
  August 25, 2017: Apologies for resetting the game list! But today's change is a big one, and we're excited about it! You now will be giving or receiving three hints instead of two, and the scoring has been changed so that consecutive correct guesses will get more and more valuable, resulting in a new maximum of 200 points (if you get all 6 words using a single clue - super rare!). You will also now have the ability to guess up to two bonus words, once after successfully guessing all of the second hint's words, and once after successfully guessing all the third hint's words. With three hints, we feel it will be more satisfying to play as the possibility of guessing all 6 target words increases. Have fun, and as always, NO SPOILERS! :P
</div>
<%= link_to "Back", :back, :class => "howtoback" %>

 