<div class="gametop">Word Stretch Beta Updates</div>

<div class="lifetimerankings howtoplay">
  August 28, 2017: Delete a game if you're stuck while creating it! Now, when giving hints you will (sometimes) have the ability to delete the game before submitting it to the other players. If you just can't come up with hints, delete the game and never worry about it again. However, we don't want this to be used too much - so much of the fun of this game is coming up with different ways to find connections between words - so you will only be able to do this at most every one out of 7 games. So if you do delete a game during its creation, you'll have to fully create and submit 6 more games before being able to delete another game. Tip: Hints targetted to only one word is ok sometimes!
</div>

<div class="lifetimerankings howtoplay">
  August 27, 2017: Hearts and Feats of Stretch! You will now have the ability to give a "heart" to the hint giver if you feel they provided one or more excellent hints. We wanted to make a quick and easy way of rewarding a hint giver who made one or more truly excellent hints for a particular game. Feel free to also say how good you thought the hint was in chat! And the new "Feats of Stretch" will be Word Stretch's version of "achievements". Right now, you can track your hearts there, but coming soon there will be a slew of awards you can gain while playing the game, received for things like creating your 50th game or guessing your 10th perfect game. 
</div>

<div class="lifetimerankings howtoplay">
  August 25, 2017: Apologies for resetting the game list! But today's change is a big one, and we're excited about it! You now will be giving or receiving three hints instead of two, and the scoring has been changed so that consecutive correct guesses will get more and more valuable, resulting in a new maximum of 200 points (if you get all 6 words using a single clue - super rare!). You will also now have the ability to guess up to two bonus words, once after successfully guessing all of the second hint's words, and once after successfully guessing all the third hint's words. With three hints, we feel it will be more satisfying to play as the possibility of guessing all 6 target words increases. Have fun, and as always, NO SPOILERS! :P
</div>
<%= link_to "Back", :back, :class => "howtoback" %>

 