<span class="pagebody">
	<div class="gametop">How to Play Word Stretch</div>
	<div class="lifetimerankings howtoplay">
		<div>
			Welcome to Word Stretch, the word association game that helps you stretch your mind as you stretch your words!<br><br>
			<%= link_to tutorial_pages_path, :class => "button tutorialguess", :style => "text-align: center;margin: 0 auto;display: block;" do %>
            <span>Guess Tutorial</span>
          <% end %><br>
			<a href="#giver" class="htpgive">Playing as Giver</a>
			<a href="#guesser" class="htpguess">Playing as Guesser</a><br><br>

			<span class="centered" style="text-align: center; text-decoration: underline;">The Basics</span><br><br>
			A 15-word board is randomly created out of over 1000 words. <b>Six</b> of those words are the target words. <b>One</b> of the words is the <span style="color: red;">spoiler</span>.<br><br>
			It's up to the hint giver to help the guesser choose the six target words while avoiding neutral words (especially avoiding the <span style="color: red;">spoiler</span>!).<br><br>
			The hint giver will give the guesser 3 <b>one word</b> hints. It's up to the hint giver to come up with words that apply to as many of the target words as possible while avoiding the other words.<br><br>
			Once the guesser has finished, the game is scored - both players receiving the same score. It's a team effort!<br><br>
			<span id="giver" class="centered" style="text-align: center; text-decoration: underline;">Playing as the Hint Giver</span><br><br>
			To begin, analyze the board carefully. Look for anything that ties as many of the target (green) words together while not applying to the non-target words. Be especially careful to avoid words that may suggest the <span style="color: red;">spoiler</span>!<br><br>
			Enter your <b>one word</b> first hint and click the number of words that hint applies to. That number is very helpful for the guesser to see how far they may have to "stretch" your hint word. Submit that word, then do the same thing for your second hint, then third hint.<br><br> 
			Then, sit and wait for the guessers to join your game! Each game can have up to six guessers.<br><br>
			You'll notice the chat button will appear in the upper right once you've submitted your three hints. You can preemptively apologize for your lousy hints before anybody else plays your game, or claim your brilliance at finding a word which applied to five of the target words. It's fun to chat and help people see what you were thinking and hear how they perceived the hints.<br><br> 

			<span id="guesser" class="centered" style="text-align: center; text-decoration: underline;">Playing as a Guesser</span><br><br>
			To begin, look at the first hint word and see how many possible words that hint could apply to. Also consider the number of words the hint giver has said the word applies to. If you see three possible words, but the number is two, then start ranking the possibilities in terms of how powerful a connection there is.<br><br>
			There are two <b>power-ups</b> you can use to help you guess the correct words and avoid the spoiler! Each player can use each power-up twice per game. They are:
			<span class="centeredexplain">
			<img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_minus2.png"> <b>The Neutral Remover</b> - Removes 2 neutral words from the board.<br>
			<img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_detect.png"> <b>The Spoiler Detector</b> - On first use, shows a section of 4 words where the spoiler is located. On second use, shows a section of only two words where the spoiler is located!</span><br><br>

			Then, simply click to select a word. You will be asked to click again to confirm. One of three things will happen:<br><br>
			1. Correct! You can guess another word, or move on to the next hint word if you've found all the first or second hint's words. If it's the last of the second or third hint's words and you haven't found all six words yet, you can select a <b>bonus</b> word if you missed one of the first (or second) hint's words. <br>
			2. Almost! You selected a word that isn't one of the targets, but luckily is also not the <span style="color: red;">spoiler</span>. If this comes during the first or second hint, you move on to the next hint. If it comes during the third hint, the game is over!<br>
			3. <span style="color: red;">Spoiler!</span> The game immediately ends and you and the hint giver receive no points for the game. Most unfortunate!!<br><br>
			After you finish guessing, you will notice the chat button appears in the upper right. This is your chance to commiserate with other guessers, brag about your brilliance, berate the hint giver, or even compliment the hint giver for their brilliant clues. It's fun to get a little window into what other players are thinking. It might even help you in future games...<br><br> 
			<span class="centered" style="text-align: center; text-decoration: underline;">Scoring</span><br><br>
			The scoring works as follows:<br>
			1 word : 10 points<br>
			string of 2 words: + 15 points<br>
			string of 3 words: + 25 points<br>
			string of 4 words: + 40 points<br>
			string of 5 words: + 50 points<br>
			string of 6 words: + 60 points<br>
			Bonus word: 5 points<br><br>
			All 6 words guessed: 25 points<br><br>
			These points apply to consecutive guesses for each hint. For example, if you guess all three of the first hint's words, you would receive 10 + 15 + 25 = 50 points. Then for the second hint, the point value for the words resets so the first word is worth 10 and so on. So the highest possible score in a game would happen if you guessed all 6 words in a single hint. That would be 10 + 15 + 25 + 40 + 50 + 60 + 25 (all 6 bonus) = 225 points! That would be extremely rare! Getting six words using all three hints will even be fairly rare! Getting four or five will likely be about average. There's usually a way to make at least a couple of pairs of target words in each game.<br><br>
			If you feel the hint giver did an excellent job making their hints, you can give him or her a "heart" for their efforts. These hearts will be tracked in the world rankings and in the Feats of Stretch section!
			<br><br>
			And there you have it! Enjoy the game, and if you have any comments or suggestions, please email me at matt@wordstretch.com. Thanks for playing!<br><br>
			<%= link_to "Back", :back, :class => "howtoback centered", :style => "display: block;" %>
		</div>
	</div>
	<button class="button returntomain"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_home.png"></button>
</span>

<script>
$(document).on('turbolinks:load', function() {
	$(".htpgive").click(function(e) {
		e.preventDefault();
		var top = $("#giver").offset().top;
		$(document).scrollTop(top)
	});
	$(".htpguess").click(function(e) {
		e.preventDefault();
		var top = $("#guesser").offset().top;
		$(document).scrollTop(top)
	});
});
$(document).ready(function() {
	$("body").addClass("bodyscrollable");
})

</script>