<div class="gametop">Rankings</div>

<div class="rankbuttons">
	<button class="button ranktime rtweekly rankselected">Weekly</button>
	<button class="button ranktime rtalltime">All-time</button>
</div>

<div class="rankweeklycontent">
	<%= render "weeklyranks" %>
</div>

<div class="rankalltimecontent rankhidden">
	
</div>

<div class="centered">
	<button class="button returntomain">Return to Main</button>
</div>

<script>
$(".rtweekly").click(function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").removeClass("rankhidden");
	$(".rankalltimecontent").addClass("rankhidden");
})
$(".rtalltime").click(function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").addClass("rankhidden");
	$(".rankalltimecontent").removeClass("rankhidden");
})
$(window).on('turbolinks:load', function() {
	var wrapper = $('.rankalltimecontent');
	wrapper.load("/pages/alltimeranks" + " .rankalltimecontent", function() {
	   wrapper.children('.rankalltimecontent').unwrap();
	});
})
</script>