<div class="gametop"><span class="gtoneline">Rankings</span></div>

<div class="rankbuttons">
	<button class="button ranktime rtweekly rankselected">Weekly</button>
	<button class="button ranktime rtalltime">All-time</button>
</div>

<div class="rankweeklycontent">
	<%= render "weeklyranks" %>
</div>

<div class="rankalltimecontent rankhidden">
	
</div>

<div class="centered">
	<button class="button returntomain"><img src="/assets/Home-48.png"></button>
</div>

<script>
$(".rtweekly").click(function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").removeClass("rankhidden");
	$(".rankalltimecontent").addClass("rankhidden");
})
$(".rtalltime").click(function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").addClass("rankhidden");
	$(".rankalltimecontent").removeClass("rankhidden");
})

$(".weeklystats .next").click(function() {
	if ($(".showstat").next(".weeklystats .statcontainer").length === 0) {
		$(".weeklystats .showstat").addClass("statleaving");
		$(".weeklystats .statcontainer").first().find("ul, .statcat").addClass("slidetoright");
		$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
			$(".weeklystats .statcontainer").first().addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	} else {
		$(".weeklystats .showstat").addClass("statleaving");
		$(".weeklystats .showstat").next(".statcontainer").find("ul, .statcat").addClass("slidetoright");
		$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
			  .next(".statcontainer").addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	}
})

$(".weeklystats .prev").click(function() {
	if ($(".showstat").prev(".weeklystats .statcontainer").length === 0) {
		$(".weeklystats .showstat").addClass("statleaving");
		$(".weeklystats .statcontainer").last().find("ul, .statcat").addClass("slidetoright");
		$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
			$(".weeklystats .statcontainer").last().addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	} else {
		$(".weeklystats .showstat").addClass("statleaving");
		$(".weeklystats .showstat").prev(".statcontainer").find("ul, .statcat").addClass("slidetoright");
		$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
			  .prev(".statcontainer").addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	}
})

$(document).on("click", ".alltimestats .next", function() {
	if ($(".showstat").next(".alltimestats .statcontainer").length === 0) {
		$(".alltimestats .showstat").addClass("statleaving");
		$(".alltimestats .statcontainer").first().find("ul, .statcat").addClass("slidetoright");
		$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
			$(".alltimestats .statcontainer").first().addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	} else {
		$(".alltimestats .showstat").addClass("statleaving");
		$(".alltimestats .showstat").next(".statcontainer").find("ul, .statcat").addClass("slidetoright");
		$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
			  .next(".statcontainer").addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	}
})

$(document).on("click", ".alltimestats .prev", function() {
	if ($(".showstat").prev(".alltimestats .statcontainer").length === 0) {
		$(".alltimestats .showstat").addClass("statleaving");
		$(".alltimestats .statcontainer").last().find("ul, .statcat").addClass("slidetoright");
		$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
			$(".alltimestats .statcontainer").last().addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	} else {
		$(".alltimestats .showstat").addClass("statleaving");
		$(".alltimestats .showstat").prev(".statcontainer").find("ul, .statcat").addClass("slidetoright");
		$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
		setTimeout(function() {
			$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
			  .prev(".statcontainer").addClass("showstat");
			setTimeout(function() {
				$(".slidetoright").removeClass("slidetoright");
				$(".slidetoleft").removeClass("slidetoleft");
			},120)
		}, 120)
	}
})

$(window).on('turbolinks:load', function() {
	var curusername = "<%= current_user.username %>";
	$(".statcontainer li").each(function() {
  	if ($(this).data("uname") === curusername) {
  		$(this).css("color", "red").css("box-shadow", "red 0px 0px 3px 0px inset");
  	}
  })
	setTimeout(function() {
		var wrapper = $('.rankalltimecontent');
		wrapper.load("/pages/alltimeranks" + " .rankalltimecontent", function() {
		   wrapper.children('.rankalltimecontent').unwrap();
		   var curusername = "<%= current_user.username %>";
			  $(".statcontainer li").each(function() {
			  	console.log("checking " + curusername)
			  	if ($(this).data("uname") === curusername) {
			  		$(this).css("color", "red").css("box-shadow", "red 0px 0px 3px 0px inset");
			  	}
			  })

		});
	}, 250)
})
</script>