<% @allthewords.each do |word| %>
    <li class="word firstclick" data-guessword="<%= word %>">
    	<div class="clickagain">Click again to submit</div>
    	<img class="anim_correct starline" src="/assets/stararc.png">
    	<img class="anim_correct starscatter" src="/assets/starspread.png">
    	<div class="anim_correct">Correct!</div>
    	<img class="anim_spoiler skull" src="/assets/skull.png">
    	<div class="anim_spoiler">Spoiler!</div>
    	<img class="anim_neutral neutralx" src="/assets/neutralx.png">
    	<div class="anim_neutral">Almost</div>
    	<span><%= word %></span>
    </li>
<% end %>