<% @allthewords.each do |word| %>
    <li class="word firstclick" data-guessword="<%= word %>">
    	<div class="clickagain">Click again to submit</div>
    	<span><%= word %></span>
    </li>
<% end %>