<% @allthewords.each do |word| %>
  <% if word == @badword %>
    <li class="word badword"><span><%= word %></span></li>
  <% elsif @targetwords.include?(word) %>
    <li class="word targetword"><span><%= word %></span></li>
  <% else %>
    <li class="word"><span><%= word %></span></li>
  <% end %>
<% end %>