<div class="gametop" data-gameid="<%= @game.id %>">New Game - "<%= @game.gamename %>"</div>

<div class="allwords">
	<span id="allwordslist">
    <%= render 'allwords' %>
  </span>
</div>

<div class="hintarea give">
	<div class="hintheading">
		<div class="notifyarea">
			<span class="hintheadline">Enter your hints</span>
		</div>
		<div class="hints hint1">
			<span class="hintlabel">Hint 1:</span>
			<textarea class="hintenter hint1word" rows="1" placeholder="One word"></textarea>
			<div class="wordnumarea">
				<span class="hintnumheading">For this many words:</span>
				<select class="selections hint1number">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				</select>
			</div>
			<button class="button submithint1">Submit First Hint</button>
		</div>
		<div class="hints hint2 hidden">
			<span class="hintlabel">Hint 2:</span>
			<textarea class="hintenter hint2word" rows="1" placeholder="One word"></textarea>
			<div class="wordnumarea">
				<span class="hintnumheading">For this many words:</span>
				<select class="selections hint2number">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				</select>
			</div>
			<div class="firstinfo">(First hint was: <span class="firstinfoword"></span> for <span class="firstinfonum">.</span>)</div>
			<button class="button submithint2">Submit Second Hint</button>
			<!--<button class="button skiphint2">Skip Second Hint</button>-->
		</div>
		<div class="hints submitted hidden">
			<span class="hintlabel">You've submitted your game!</span>
			<div class="wordnumarea">
				<span class="hintnumheading">Your hints: 
					<span class="submittedword1"></span> applies to <span class="submittednum1"></span><br>
					and <span class="submittedword2"></span> applies to <span class="submittednum2"></span>.
				</span>
			</div>
			<button class="button returntomain">Return to Main</button>
		</div>
	</div>
</div>

<div class="gamebottom"></div>

<div class="messagebox">
	<div class="messagetitle"></div>
	<div class="messageinfo"></div>
	<div class="messageaction"></div>
	<div class="messagesubtext"></div>
</div>

<div class="pagecover"></div>