<div class="gametop" data-gameid="<%= @game.id %>">
	<span class="gtoneline">Oops</span>
</div>

<div class="hintarea guess">
  Sorry, you are not in this game.<br>
	<button class="button returntomain">Return to Main</button>

</div>
