<div class="gametop" data-gameid="<%= @game.id %>">
	Oops<br>
</div>

<div class="allwords guesswordslist">
	<span id="allwordslist">
    <%= render 'allwordsguess' %>
  </span>
</div>

<div class="hintarea guess">
  Sorry, you are not in this game.<br>
	<button class="button returntomain">Return to Main</button>

</div>
