<div class="gametop" data-gameid="<%= @game.id %>">
	<span class="gtoneline">Game Underway</span>
</div>

<div class="allwords">
	<span id="allwordslist">
    <%= render 'allwordsguess' %>
  </span>
</div>

<div class="hintarea guess">
  This game is being played, stay tuned!<br>

</div>
