// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Montserrat', sans-serif;
  background-color: #f8fff8;
}
.gametop {
  font-size: 20px;
  text-align: center;
  margin: 12px 0 10px;
}
.allwords {
	text-align: center;
  width: 100%;
}
#allwordslist {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.allwords li {
  display: inline-block;
  width: 136px;
  height: 42px;
  border: 1px solid lightgrey;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 3px;
  border-radius: 4px;
  background-color: #e6efff;
  transition: 250ms all;
}
@media (max-width: 480px) {
  .allwords li {
    display: inline-block;
    width: 101px;
    height: 36px;
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 5px 2px;
    border-radius: 4px;
    background-color: #e6efff;
    font-size: 12px;
  }
  .allwords li.badword {
    border: 1px solid black;
    background-color: #773333;
    background-image: url(skull.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 2% 4%;
    color: #ffc04d;
    font-weight: bold;
  }
}
@media (max-width: 359px) {
  .allwords li {
    display: inline-block;
    width: 92px;
    height: 32px;
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 4px 0px;
    border-radius: 4px;
    background-color: #e6efff;
    font-size: 11px;
  }
  .hintarea {
    margin-top: 2px !important;
  }
  .allwords li.badword {
    border: 1px solid black;
    background-color: #773333;
    background-image: url(skull.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 2% 4%;
    color: #ffc04d;
    font-weight: bold;
  }
}
.gamenotify {
  display: none;
  font-size: 14px;
  color: darkred;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.allwords li.targetword {
  border: 1px solid darkgreen;
  background-color: green;
  color: white;
}
.allwords li.badword {
	border: 1px solid black;
  background-color: #773333;
  background-image: url(skull.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 2% 10%;
  color: #ffc04d;
  font-weight: bold;
}
.word span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.disabled {
	opacity: .5;
	pointer-events: none;
	cursor: initial;
}
.hintarea {
  text-align: center;
  margin-top: 0;
}
.hints {
  margin-bottom: 6px;
}
.hints textarea {
  position: relative;
  top: 8px;
  resize: none;
  width: 288px;
  border-bottom: 2px dashed #3498DB;
  border-left: none;
  border-top: none;
  border-right: none;
  margin-left: 3px;
  font-size: 16px;
  text-align: center;
}
.hints textarea:focus {
  outline: none;
}
.notifyarea {
  height: 37px;
  position: relative;
}
.hintheadline {
	font-size: 20px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.unselected {
  filter: brightness(0.7);
  opacity: .6;
  transform: scale(0.94);
}
.wordnumarea {
  margin-top: 20px;
}
.wordnumarea select {
  position: relative;
  bottom: 2px;
}
.firstinfo {
  font-size: 12px;
  margin-top: 4px;
}
.allguesserinfo {
  margin-top: 8px;
  display: block;
}
.finalguessesshow {
  box-shadow: inset 0px 0px 5px 5px #00b8ff;
  opacity: 1 !important;
}
.hidden {
  display: none;
}
.button {
  cursor: pointer;
  padding: 8px 6px;
  background-color: #008604;
  font-size: 16px;
  border: 1px solid darkgreen;
  transition: 500ms all;
  margin: 10px auto 6px;
  color: white;
  border-radius: 4px;
  display: block;
}
.button:hover {
  background-color: darkgreen;
}
.messagebox {
  display: none;
  position: fixed;
  top: 16%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
  width: 60%;
  text-align: center;
  background-color: aliceblue;
  padding: 24px 20px;
  border-radius: 12px;
  border: 2px solid rosybrown;
}
.messagetitle {
  font-size: 26px;
  margin-bottom: 8px;
}
.messagesubtext {
  font-size: 11px;
  width: 80%;
  margin: 24px auto 0;
}
.pagecover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  z-index: 4;
}
.guesswordslist li {
  cursor: pointer;
}
.guesswordslist li:not(.guessedword):hover {
  background-color: white;
  transition: 200ms all;
}
.hintlabel.guessword, {
  margin: 16px 0;
}
.guessword span.guessinfo {
  padding: 6px 30px;
  font-size: 26px;
  background-color: #cefdff;
  border: 4px outset silver;
  border-radius: 50px;
}
.guessedword {
  cursor: auto;
  pointer-events: none;
}
.neutralword {
  background-color: darkgrey;
  opacity: .25;
}
.hintlabel.guessnum, {
  margin: 10px 0;
}
.guessnum span {
  font-size: 14px;
}
.scoreSection {
    font-size: 14px;
    margin: 4px 0;
}
.button.yesnobtn {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  width: 72px;
}
.gameover {
  font-size: 20px;
}
.gameoverinfo {
  margin-top: 6px;
}
.clickagain {
  position: relative;
  transition: 300ms all;
  border-radius: 4px;
  opacity: 0;
  padding: 4px;
  font-size: 13px;
}
.wordsubmitanim {
  opacity: 1;
  background-color: #ffce75;
  transform: translateY(-110%);
}
@media (max-width: 768px) {
  .clickagain {
    padding: 2px;
    font-size: 11px;
  }
}
button.button.skip1, button.button.returntomain {
  display: inline-block;
}
button.menu {
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    transition: 200ms all;
    border-radius: 5px;
}
button.menu:hover {
    background-color: lightgrey;
}
.menu img {
    width: 100%;
    position: relative;
    top: 1px;
}


select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: #3498DB;
  background-repeat: no-repeat;
  background-position: right 2px top 5px;
  background-size: 16px 16px;
  color: white;
  padding: 4px 22px 4px 6px;
  width: auto;
  font-family: arial,tahoma;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.selections {
  background-color:#3498DB;
}

.selections:hover {
  background-color:#2980B9;
}

select:focus, select:active {
  border:0;
  outline:0;
}
#notice {
  font-size: 12px;
  text-align: center;
  color: red;
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}
.anim_correct {
  position: absolute;
  border-radius: 4px;
  padding: 4px;
  font-size: 22px;
  display: none;
  width: 100%;
  /*font-weight: 700;*/
  color: darkgreen;
  top: 0;
  left: 0;
}
img.anim_correct {
  transition: 2000ms transform;
  transform: scale(.4);
}
div.anim_correct {
  transition: 1500ms transform;
  text-shadow:
       1px 1px 0 white,
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}
div.anim_correct.animating {
  transform: translateY(-110%);
}
img.anim_correct.animating {
  transform: rotate(360deg) scale(2.2) translateY(-70%) rotateY(360deg);
}