<!DOCTYPE html>
<html>
  <head>
    <title>Gray Area</title>
    <meta name="description" content="Welcome to Gray Area - The quick online word association game!">
	  <meta name="keywords" content="gray area word association game">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
